@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
 padding: 10px;
 border-radius: 1em;
 height: 600px;
 width: 800px;
 margin: auto;
 padding: 20px;
 background-color: #28e10b;
 box-shadow: rgba(228, 244, 5, 0.736) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(C:/Users/Lenovo/Downloads/cal.jpg);
  font-family: Cursive;
}

.display-box {
 font-family: 'Orbitron', sans-serif;
 background-color: #dcdbe1;
 border: solid black 0.5px;
 color: black;
 border-radius: 5px;
 width: 100%;
 height: 40px;
 font-size: 20px;
 letter-spacing: 6px;
}

.button {
 font-family: 'Orbitron', sans-serif;
 background-color: #b5be7d;
 color: rgb(239, 198, 198);
 border: solid rgb(44, 43, 43) 0.5px;
 width: 88px;
 border-radius: 5px;
 height: 50px;
 outline: none;
 font-size: 21px;
 font-weight: bold;
}

.button:hover{
    cursor: pointer;
}

.button:active {
 background: #e5e5e5;
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
 -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
 box-shadow: inset 0px 0px 5px #8d8888;
}
